.studio-m .bg-3 .sl-slide-inner,
.studio-m .bg-3 .sl-content-slice {
	background-color: #EE5648;
}

/* technical */

.bg-3 h2 {
	color: #fff;
	position: absolute;
	font-size: 21px;
    font-family: 'Duru Sans', sans-serif;
    font-weight: 400;
	left: 120px;
	text-align: center;
	line-height: 50px;
	top: 107px;
	margin: 0 0 -120px 0;
transform: rotate(33deg);
-ms-transform: rotate(33deg); /* IE 9 */
-webkit-transform: rotate(33deg); /* Safari and Chrome */
    
}

.co-robimy {
	position: absolute;
	width: 545px;
	text-align: left;
	left: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	height: 70px;
	color: #fff;
	z-index: 2;
	top: 365px;
	margin: 0 0 -100px 15px;
	padding: 0;
}

.co-robimy-wrapper {
	position: absolute;
	width: 545px;
	text-align: left;
	left: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	height: 70px;
	color: #fff;
	z-index: 2;
	top: 540px;
	margin: 0 0 -100px 30px;
	padding: 0;
}

.tabelka {
width: 25%;
    float: left;
    text-align: left;
}

.tabelka h3 {
    color: #fff;
    font-weight:500;
    padding-bottom: 5px;
    font-size: 110%;
}